.button-root {
  border-radius: 20px;
  width: 100%;
  max-width: 180px;
  height: 48px;
  background-color: #666666;
  border: none;
  color: #f6f6f6;
  font-size: 0.85rem;
  font-weight: 700;
  margin: 6px;
  text-transform: uppercase;
}
