.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rigth-content {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

