.create-circuit-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rigth-content {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-circuit-form {
    width: 350px;
    height: fit-content;
    /* max-height: 450px;
    min-height: 250px; */
    background-color: #ccc;
    color: #000;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-circuit-form h2 {
    margin-bottom: 15px;
}

.create-circuit-form form {
    display: flex;
    flex-direction: column;
}

.create-circuit-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.create-circuit-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.create-circuit-form button:hover {
    background-color: #0056b3;
}